# Archivos y directorios de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/
.ENV/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de bases de datos
*.sqlite3

# Archivos de configuración de herramientas
*.env
*.coveragerc
*.pytest_cache/
.tox/
.nox/
.coverage
coverage.xml
*.egg
*.egg-info/
dist/
build/
